.container {
	margin-top: 10%;
	max-width: 600px;
}

.nav {
	top: 5%;
}

.community .row {
	margin-bottom: 25px;
}

.profile {
	width: 175px;
	height: 175px;
	border-radius: 5px;
	background-color: #ffcc66;
	transition: box-shadow .15s;
}

.profile:hover {
	box-shadow: 0px 10px 40px rgba(10, 10, 10, .15);
}

@media screen and (max-width:400px) {
  .nav {
    top: 1%;
  }

	.profile {
		margin: auto;
	}
}
