h1 {
  font-size: 60px;
  display: inline;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

p {
  font-family: "Quicksand", monospace;
  font-weight: 400;
  font-size: 30px;
  max-width: 400px;
  margin-top: 0;
}

#video {
  width: 510px;
  height: 265px;
  border-radius: 10px;
}

@media screen and (max-width:400px) {
  .container {
    margin-top: 30px;
  }

  p {
    max-width: 350px;
  }

  #video {
    width: 80%;
  }
}
