body {
  font-family: "Inconsolata", monospace;
  color: #606060;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

button {
  background: #19c8a3;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin-top: 2rem;
}

button:hover {
  background: #17b695;
}

.nav {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-item {
  font-family: "Quicksand", sans-serif;
  color: #606060;
  font-size: 20px;
  text-decoration: none;
}

